<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Issue1369Context" connectionString="Data Source=.\sqlexpress; Initial Catalog=ef_bulkinsert_Issue1369Context;uid=ef_bulkinsert_test;password=ef_bulkinsert_test;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="TestContext" connectionString="Data Source=.\sqlexpress; Initial Catalog=ef_bulkinsert_test;uid=ef_bulkinsert_test;password=ef_bulkinsert_test;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="SqlCeContext" providerName="System.Data.SqlServerCe.4.0" connectionString="Data Source=|DataDirectory|Database1.sdf" />
    <add name="ef_bulkinsert_db_firstEntities" connectionString="metadata=res://*/DbFirst.BloggingModel.csdl|res://*/DbFirst.BloggingModel.ssdl|res://*/DbFirst.BloggingModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sqlexpress;initial catalog=ef_bulkinsert_db_first;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DbFirstContext" connectionString="metadata=res://*/DbFirst.DbFirstModel.csdl|res://*/DbFirst.DbFirstModel.ssdl|res://*/DbFirst.DbFirstModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sqlexpress;initial catalog=ef_bulkinsert_db_first;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DbFirstTestEntities" connectionString="metadata=res://*/DatabaseFirst.TestDataModel.csdl|res://*/DatabaseFirst.TestDataModel.ssdl|res://*/DatabaseFirst.TestDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sqlexpress;initial catalog=GridDemo;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>